<div class="text-center recipeInfo">
  <h2 class= "text-dark">{{name}}</h2>
  <p class= "text-dark">Created by {{user.name}} on {{format_date created_at}}</p>
  <div class="card-body">
        <p  class= "text-dark">{{ingredients}}</p>
  </div>
  <div class="card-body">
        <p  class= "text-dark">{{cooking_instructions}}</p>
  </div>
</div>