<div class="text-center">
  <h2>{{name}}</h2>
  <p>Created by {{user.name}} on {{format_date created_at}}</p>
  <div class="card-body">
        <p>{{ingredients}}</p>
  </div>
  <div class="card-body">
        <p>{{cooking_instructions}}</p>
  </div>
</div>